{% extends 'base.html.twig' %}
{% block bodyClass %}contact{% endblock %}
    {% block body %}
        <div class="container header">
            <a class="btn btn-lg btn-secondary " href="{{ path('homepage') }}">Home</a>
        </div>
        <div class="containerL">
            <div class="wrap">
                <div class="container fields">
                    <div class="container contact-title">
                        <h1>Contact</h1>
                    </div>
                    <div class="container contact-expression">
                        <span id="typed"></span>
                    </div>
                </div>
                <div class="social-network">
                    <div>
                        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/hugo-lantillon-1b4372150/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2500" height="2389" viewBox="0 5 1036 990"><path d="M0 120c0-33.334 11.667-60.834 35-82.5C58.333 15.833 88.667 5 126 5c36.667 0 66.333 10.666 89 32 23.333 22 35 50.666 35 86 0 32-11.333 58.666-34 80-23.333 22-54 33-92 33h-1c-36.667 0-66.333-11-89-33S0 153.333 0 120zm13 875V327h222v668H13zm345 0h222V622c0-23.334 2.667-41.334 8-54 9.333-22.667 23.5-41.834 42.5-57.5 19-15.667 42.833-23.5 71.5-23.5 74.667 0 112 50.333 112 151v357h222V612c0-98.667-23.333-173.5-70-224.5S857.667 311 781 311c-86 0-153 37-201 111v2h-1l1-2v-95H358c1.333 21.333 2 87.666 2 199 0 111.333-.667 267.666-2 469z"/></svg>

                        </a>
                        <a target="_blank" rel="noopener" href="https://github.com/HugoTysn21">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                            <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="container contact">
                    {{ form_start(formContact, {'action': path('mail'), 'method': 'POST'}) }}
                    {{ form_start(formContact,{'attr': { 'class': 'theme-form' }} ) }}
                    {{ form_row(formContact.name,{'attr' : {'placeholder' :"Your Name", "class": "form-control"}}) }}
                    {{ form_row(formContact.email,{'attr' : {'placeholder' :"Your Email Adress", "class": "form-control"}}) }}
                    {{ form_row(formContact.subject,{'attr' : {'placeholder' :"Subject", "class": "form-control"}}) }}
                    {{ form_row(formContact.message,{'attr' : {'placeholder' :"Your message","class": "form-control"}}) }}
                    {{ form_row(formContact.send,{'attr' : {'placeholder' :"Envoyer",'class':"form-control width100 btn-primary"}}) }}
                    {{ form_end(formContact) }}
                </div>
            </div>
        </div>
    {% endblock %}
