<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}-HugoLantillon{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <link rel="stylesheet" href="/dist{{ asset('main.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <script src="/dist{{ asset('main.js') }}"></script>

    </head>
    <body class="{% block bodyClass %}empty{% endblock %}">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success flash-notice">
            {{ message }}
        </div>
    {% endfor %}
        {% block body %}
            {# {% if is_granted('ROLE_USER') %} #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile_team', {'teamId': app.user.id}) }}">Profile</a>
                </li>
                <form method="get" class="form-inline mt-2 mt-md-0" action="{{ path('search') }}">
                    <input class="form-control mr-sm-2" name="query" placeholder="Search">
                </form>
            {% endif %}
        {% endblock %}
    {#<script src="dist/{{ asset('main.js') }}"></script>#}
    </body>
</html>
