{% extends 'base.html.twig' %}
{% block bodyClass %}article{% endblock %}
{% block body %}
    <div class="container header">
        <a class="btn btn-lg btn-secondary " href="{{ path('homepage') }}">Home</a>
    </div>
    <div class="containerL">
        <div class="wrap">
            <div class="row">
                <div class="col a6-12 c12-12">
                    <h2>Workshop</h2>
                </div>
                <div class="col a6-12 c12-12">
                    <div class="page-description">
                        {#<p>Quo cognito Constantius ultra mortalem modum exarsitQuo#}
                            {#cognito Constantius ultra mortalem modum exarsitQuo cognito Constantius ultra mortalem modum#}
                            {#exarsit</p>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="post-list">
            {% for post in posts %}
                <div class="single-post">
                    <figure>
                        <img src="{{ asset(post.avatarDirectory) }}">
                        <p>ddd</p>
                    </figure>
                    <a href="{{ path('single_article', { 'post_id': post.id}) }}" role="button" class="listing">
                        {{ post.title }}
                    </a>
                    <p>Posted {{ post.createdAt|date('d/m/Y') }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}